.UserCard {
  background-image: linear-gradient(
    to right top,
    #626ed4,
    #5561b1,
    #4a548e,
    #40466c,
    #36394c
  );
  width: 430px;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  text-decoration: none;
  color: white;
}
.userdetails {
  text-decoration: none;
  color: black;
}
.UserCard:hover {
  transform: scale(1.01);
  transition: 0.2s ease-in-out;
}
.UserCard > div > p {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 300;
}
.UserCard > div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.followers > h4,
.repos > h4,
.following > h4 {
  font-size: 0.9rem;
  color: rgb(218, 218, 218);
}
.followers > span,
.repos > span,
.following > span {
  font-size: 0.9rem;
  font-weight: 500;
}
.UserCard > div > img {
  height: 10rem;
  border-radius: 5px;
  box-shadow: 0 0 10px #252735;
}
.UserCard_deets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.4rem;
}

@media screen and (max-width: 767px) {
  .UserCard {
    width: 370px;
    height: 170px;
  }
  .UserCard > div > img {
    height: 6.5rem;
    border-radius: 50%;
  }
  .UserCard > div > p {
    font-size: 1.6rem;
  }
  .UserCard_deets {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .UserCard {
    width: 400px;
    height: 200px;
  }
  .UserCard > div > img {
    height: 7.5rem;
    border-radius: 50%;
  }
  .UserCard > div > p {
    font-size: 1.6rem;
  }
  .UserCard_deets {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2rem;
  }
}
