.UserCard {
  background-color: white;
  width: 570px;
  height: 220px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-decoration: none;
  color: #001d3d;
  padding: 0px 20px 0 20px;
}
.UserCard:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in;
}
.UserCard-L {
  width: 80%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.UserCard-R {
  width: 20%;
}
.UserCard-R > a > button {
  width: 80px;
  height: 35px;
  border-radius: 20px;
  border: none;
  background-color: #ffc300;

  font-weight: 700;
}
.UserCard-R > a > button:hover {
  background-color: #6a994e;
  color: white;
  transition: 0.15s ease-in;
  transform: scale(1.05);
}
.name-role {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.desc {
  color: grey;
  font-size: 14px;
}
.sal-loc-com {
  display: flex;
  gap: 30px;
  color: #003566;
}
.sal-loc-com > span {
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .UserCard {
    width: 270px;
    height: 170px;
  }
  .UserCard-L {
    gap: 10px;
  }
  .UserCard-R > a > button {
    width: 55px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #ffc300;

    font-weight: 500;
  }

  .name-role {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .name-role > h3 {
    font-size: 13px;
  }
  .name-role > h4 {
    font-size: 11px;
  }
  .desc {
    color: grey;
    font-size: 10px;
  }
  .sal-loc-com {
    gap: 35px;
  }
  .sal-loc-com > span {
    font-size: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .UserCard {
    width: 400px;
    height: 200px;
  }
}
