.navBar {
  height: 80px;
  background-color: #36394c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.navBar > div:nth-child(1) {
  margin-left: 50px;
}
.logo {
  font-size: 1.4rem;
  text-align: left;
}
.h-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.navBar > input {
  height: 33px;
  width: 25rem;
  border-radius: 8px;
  border: none;
}
.navBar > div:nth-child(2) > button {
  height: 33px;
  width: 6vw;
  border-radius: 8px;
}
#profile_btn:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.12);
}
.navBar > div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-right: 50px;
}
.links {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
  font-size: 1.1rem;
  font-weight: 700;
}
.FaUserAlt {
  color: white;
}
.links > span {
  font-size: 0.8rem;
}
.links > div {
  background-color: #02a499;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.logout_btn {
  height: 35px;
  width: 5rem;
  border-radius: 20px;
  background-color: #02a499;
  color: rgb(235, 235, 235);
}
.logout_btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
  background-color: rgb(247, 58, 58);
  color: white;
}
.menu-icon {
  display: none;
}
@media screen and (max-width: 767px) {
  .menu-icon {
    display: block;
    margin-right: 2rem;
  }
  .navBar > input {
    height: 33px;
    width: 15rem;
    border-radius: 8px;
    border: none;
    margin-left: 3rem;
  }
  .navBar > div:nth-child(1) {
    margin-left: 10px;
  }
  .h-menu {
    z-index: 99;
    height: 7rem;
    color: black;
    position: absolute;
    top: 2rem;
    right: 4rem;
    background-color: rgb(144, 143, 143);
    flex-direction: column;
    font-weight: 500;
    gap: 1rem;
    padding: 3rem;
    border-radius: 10px;
    display: flex;
    justify-self: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    transition: all 300ms ease-in-out;
  }
  .logo {
    font-size: 1.2rem;
    text-align: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu-icon {
    display: block;
    margin-right: 1rem;
  }
  .navBar > input {
    height: 33px;
    width: 20rem;
    border-radius: 8px;
    border: none;
    margin-left: 3rem;
  }
  .navBar > div:nth-child(1) {
    margin-left: 10px;
  }
  .h-menu {
    z-index: 99;
    height: 7rem;
    color: black;
    position: absolute;
    top: 2rem;
    right: 4rem;
    background-color: rgb(144, 143, 143);
    flex-direction: column;
    font-weight: 500;
    gap: 1rem;
    padding: 3rem;
    border-radius: 10px;
    display: flex;
    justify-self: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    transition: all 300ms ease-in-out;
  }
  .logo {
    font-size: 1.1rem;
    text-align: left;
  }
}
