.extendDetails {
  background-image: linear-gradient(
    to right top,
    #626ed4,
    #5561b1,
    #4a548e,
    #40466c,
    #36394c
  );
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 50vw;
  height: 30rem;
  border-radius: 20px;
  color: white;
}
.extendDetails_container > a {
  color: #02f0e0;
}
.extendDetails_container > div:nth-child(1) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.extendDetails_container > div > h2 {
  font-size: 2.5rem;
}
.extendDetails_container > div > h3 {
  color: rgb(194, 194, 194);
}
.extendDetails_container > div > span {
  color: white;
  font-size: 1.5rem;
}
.extendDetails_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.extendDetails > img,
.extendDetailsP > img {
  width: 17rem;
  height: 17rem;
  box-shadow: 0 0 15px #36394c;
  border-radius: 50%;
}
.extendDeets {
  display: flex;
  justify-content: space-around;
  gap: 1.8rem;
}
.extendData > h3 {
  color: rgb(194, 194, 194);
}
.extendData > h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0.6rem;
}
.extendDetailsP {
  background-image: linear-gradient(
    to right top,
    #626ed4,
    #5561b1,
    #4a548e,
    #40466c,
    #36394c
  );
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 50vw;
  height: 30rem;
  border-radius: 20px;
  color: white;
}
@media screen and (max-width: 767px) {
  .extendDetails {
    width: 70vw;
    height: 45rem;
    flex-direction: column;
  }
  .extendDetailsP {
    width: 70vw;
    height: 45rem;
    flex-direction: column !important;
  }
  .extendDetails > img,
  .extendDetailsP > img {
    width: 12rem;
    height: 12rem;
  }
  .extendDetails_container > div > h2 {
    font-size: 1.5rem;
  }
  .extendDetails_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .extendDetails_container > div:nth-child(1) {
    align-items: center;
  }
  .extendDetails_container > a {
    font-size: 12px;
  }
  .extendDeets {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .extendDetails {
    width: 85vw;
    height: 25rem;
    flex-direction: row;
  }
  .extendDetailsP {
    width: 85vw;
    height: 25rem;
    flex-direction: row;
  }
  .extendDetails > img,
  .extendDetailsP > img {
    width: 15rem;
    height: 15rem;
  }
  .extendDetails_container > div > h2 {
    font-size: 1.5rem;
  }
  /* .extendDetails_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  } */
  /* .extendDetails_container > div:nth-child(1) {
    align-items: center;
  } */
  /* .extendDetails_container > a {
    font-size: 12px;
  } */
  /* .extendDeets {
    flex-direction: column;
  } */
}
