.login {
  width: 40vw;
  height: 50vh;
  box-shadow: 0 0 20px black;
  padding: 30px;
  margin: 150px auto;
  text-align: left;
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  background-image: linear-gradient(
    to left top,
    #7584ff,
    #5d6cc9,
    #485495,
    #363d63,
    #252735
  );
}

.login > h3 {
  color: white;
  font-weight: 800;
  font-size: 2.5rem;
}
.login > div > label {
  color: white;
  text-align: left;
  margin-top: 5rem;
  font-size: 1rem;
}
.login > div > input {
  width: 20rem;
  height: 2rem;
  border-radius: 0.3rem;
  border: none;
}
.login > div {
  margin-top: 1.5rem;
}
.login > div,
.login > h3 {
  margin-left: 10rem;
}
.login > div > button {
  width: 7rem;
  height: 2rem;
  background-color: #02a499;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 1rem;
}
.login > div > p {
  color: white;
}
